body{
    background-color: rgb(66, 148, 173);
}
ul {
  text-align: center;
  list-style-position: inside;
}

div.polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; 
    top: 0;
    width: 110%; 
  }
  
  /* Links inside the navbar */
  .navbar a { 
    float: left;
    display: block;
    color: #ccc9c9;
    text-align: center;
    padding: 14px 270px;
    text-decoration: none;
  }

  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(141, 137, 137);
    color: black;
  }