body{
    background-color: rgb(66, 148, 173);
}


div.polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; 
    top: 0;
    width: 105%; 
  }
  
  /* Links inside the navbar */
  .navbar a { 
    float: left;
    display: block;
    color: #ccc9c9;
    text-align: center;
    padding: 2px 270px;
    text-decoration: none;
  }

  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(141, 137, 137);
    color: black;
  }


  
  .text {
    height: 800px;
    width: 1600px;
    background: rgb(66, 148, 173);
    text-align :center;
    position: fixed;
    top: 50%;
    left: 18%;
    margin-top: -100px;
    margin-left: -200px;}
    p.b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
    p.a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      }
    p.c {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      }